<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create new Movie</title>
  </head>
  <body>
    <h1>Create new Movie</h1>
    <form action="/movies" method="POST">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title"><br>
      <label for="genres">Genres:</label><br>
      <input type="text" id="genres" name="genres"><br>
      <label for="year">Year:</label><br>
      <input type="text" id="year" name="year"><br>
      <label for="photo">Photo:</label><br>
      <input type="file" id="photo" name="photo"><br>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
